<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="content-script-type" content="text/javascript">
    <title>质粒抽提实验指导</title>
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div class="row header">
        <div class="col-xs-2">
          <img v-on:click="back" src="dist/img/back.png" >
        </div>
        <div class="col-xs-8 center">
          <span>生物实验指导</span>
        </div>
      </div>
      
      <div class="space"></div>

      <div class="space"></div>

      <div class="space"></div>

      <div class="space"></div>

      <div class="content">
        <h4>
          （2） 取1.5 ml菌体培养液放入EP 管，12000 rpm/min 离心 15 秒。
        <h4>
      </div>
      <div class="choices">
        <div>
          <h5>
            选择题
          </h5>
        </div>
        <div class="questions">
          <div>  
            <label><input type="radio" v-model="choice1" value="1"/>8000 rpm/min</label>  
            <label><input type="radio" v-model="choice1" value="2"/>12000 rpm/min</label>  
          </div> 
          <div>  
            <label><input type="radio" v-model="choice2" value="1"/>离心 15 秒</label>  
            <label><input type="radio" v-model="choice2" value="2"/>离心 15 分钟</label>  
          </div>
        </div> 
      </div> 
      <div class="space"></div>
      <div class="center">
        <button v-on:click="pre" style="margin-right: 15%" v-on:click="next" type="button" class="btn btn-primary startbtn">上一步</button>
        <button v-bind:disabled= "!(choice1=='2' && choice2=='1')" v-on:click="next" type="button" class="btn btn-primary startbtn">下一步</button>
      </div>
    </div>
    


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var app=new Vue({
        el: '#app',
        data:
        {
          choice1:'?',
          choice2:'?',
        },
        methods:
        {
          back: function()
          {
            window.history.back(-1);
          },
          pre: function()
          {
            window.location.href="./1.html";
          },
          next: function()
          {
            window.location.href="./3.html";
          },
        }
      })
    </script>
  </body>
</html>
