.title {
  border-bottom:1px solid #eee;
  height:36px;
}
.title .online {
  float:left;
  display:inline-block;
  margin-right:2%;
  height:36px;
  line-height:36px;
}
.title .online img {
  display:inline-block;
  height:23px;
  margin-bottom:2px;
}
.title span {
  display:inline-block;
  font-size:1.3rem;
}
.title .hotline {
  height:36px;
  line-height:36px;
  float:left;
  font-size:1.3rem;
  display:inline-block;
  color:#333;
}
.title .tip {
  height:36px;
  line-height:36px;
  background-color:#ff3d00;
  float:right;
  color:#fff;
  padding-left:2%;
  padding-right:2%;
}
.header {
  padding-top:1%;
  padding-bottom:1%;
}
.header .logo {
  margin-top:1%;
  height:48px;
  float:left;
}
.header .items {
  margin-top:2%;
  width:49%;
  float:right;
  margin-right: 10%;
}
.header .items .item {
  font-size:1.9rem;
  color:#FF9947;
  display:inline-block;
  margin-right:2%;
}
.header .items .item:hover {
  color:#FF9947;
}
.header .items .home {
  margin-right:4%;
  margin-left: 3%;
}
.header .items .select {
  color:#FF9947;
}
.footer {
  clear:both;
  background-color:#3e4347;
  color:#fff;
  padding-bottom:15px;
  width:100%;
  padding-left:6%;
  padding-right:6%;
}
.footer .list {
  margin-top:24px;
  float:left;
  margin-right:6%;
}
.footer .list .head {
  font-size:2rem;
  padding-bottom:24px;
}
.footer .list .word {
  font-size:1.4rem;
  padding-bottom:8px;
  display:block;
  color:#fff;
}
.footer .qrcode {
  margin-top:24px;
  margin-left:6%;
  width:128px;
  display:inline-block;
  float: left;
}

.home .icons {
  margin-top:24px;
  text-align:center;
  margin-bottom:24px;
}
.home .icons .icon {
  padding-top:16px;
  width:18%;
  border:1px solid #eee;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
}
.home .icons .img {
  border:1px solid #333;
  border-radius:100%;
  width:24%;
  max-width:48px;
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}
.home .icons img {
  width:100%;
}
.home .icons .word {
  padding-bottom:8px;
} 
.home .info .left {
  width:50%;
  background-color:#fff;
  color:#000;
  display:inline-block;
  float:left;
  padding-left:6%;
  font-size:2.6rem;
  line-height:2.6rem;
  padding-top:32px;
  padding-bottom:48px;
}
.home .info .right {
  width:50%;
  background-color:#ff3d00;
  color:#fff;
  display:inline-block;
  float:left;
  padding-left:6%;
  font-size:2rem;
  line-height:2.6rem;
  padding-top:32px;
  padding-bottom:48px;
}
.parent .qr {
  width:30%;
  min-width:300px;
}
.parent .lf {
  width:10%;
  display:inline-block;
  min-width:84px;
}
.parent .ri {
  width:20%;
  display:inline-block;
  min-width:222px;
}
.parent .types .item {
  border:1px solid #eee;
  width:20%;
  display:inline-block;
}
.parent .types .item:hover {
  box-shadow:4px 4px 4px #ccc;
}
.parent .types .item:nth-child(2) {
  margin-left:2%;
  margin-right:2%;
}
.parent .types .item .tit {
  color:#fff;
  background-color:#ff3d00;
  font-weight:700;
  font-size:2rem;
  padding-top:12px;
  padding-bottom:12px;
}
.parent .types .item .info {
  padding-top:8px;
  padding-bottom:8px;
  border:1px solid #eee; 
}
.parent .protect {
  position:relative;
  margin-top:64px;
}
.parent .protect .tit {
  position:absolute;
  top:16px;
  width:100%;
  color:#fff;
  font-size:2rem;
}
.parent .protect .picimgs {
  position:absolute;
  top:30%;
}
.parent .protect .picimgs .pics {
  width:15%;
  margin-left:5%;
  margin-right:5%;
  display:inline-block;
}
.parent .protect .picimgs .pics img {
  border:1px solid #fff;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
.parent .protect .picimgs .pics div {
  margin-top:12px;
  font-size:1.8rem;
  color:#fff;
  width:100%;
}
.parent .adv {
  margin-top:64px;
  margin-bottom:48px;
}
.parent .adv .item {
  width:25%;
  background-color:#eee;
  display:inline-block;
  padding-bottom:12px;
  margin-bottom:12px;
}
.parent .adv .item img {
  margin-top:12px;
  width:20%;
  margin-left:auto;
  margin-right:auto;
}
.parent .adv .item .tit {
  margin-top:12px;
  width:100%;
  color:#000
}
.parent .adv .item .info {
  margin-top:12px;
  width:100%;
  color:#777;
  font-size:1rem;
}
.teacher .advs {
  width:100%;
}
.teacher .whatbaby {
  position:relative;
  font-size:1.5rem;
}
.teacher .whatbaby .more {
  background-color:#ff3d00;
  color:#fff;
  position:relative;
  top:-32px;
  z-index:1;
  padding-top:32px;
  padding-bottom:32px;
}
.teacher .whatbaby .wtitle {
  z-index:2;
  position:relative;
  top:-16px;
  width:16%;
  min-width:120px;
  color:#ff3d00;
  background-color:#fff;
  height:32px;
  line-height:32px;
}
.teacher .whatbaby .tell {
  width:100%;
  background-image:url(img/techinfo.png);
  background-size:100%;
  color:#fff;
  padding-top:16px;
  padding-bottom:24px;
}
.teacher .advs .item {
  padding-top:32px;
  padding-bottom:32px;
  width:20%;
  display:inline-block;
  border:1px solid #eee;
}
.teacher .advs .item .minfo {
  padding-left:4%;
  padding-right:4%;
}
.teacher .advs .item img {
  width:20%;
  border-bottom:1px solid #eee;
}
.teacher .advs .item .info {
  margin-top:8px;
  margin-bottom:8px;
}
.teacher .steps {
  width:96%;
  padding-bottom:64px;
}
.teacher .step {
  width:15%;
  margin-top:8px;
  display:inline-table;
  margin-left:auto;
  margin-right:auto;
}
.teacher .step .info {
  font-size:1.6rem;
  display:table-cell;
  height:64px;
  color:#555;
  background-color:#ccc;
  vertical-align:middle;
}
.teacher .step .info:hover {
  background-color:#e22;
  color:#fff;
}
.teacher .step .plus {
  float:right;
  height:52px;
  line-height:52px;
  width:10%;
  display:inline-block;
  border:1px solid #eee;
  color: #dd3d00;
  font-weight:700;
  /*
  background-image:url(img/sp.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:60%;
  */
}
.hire .morejob {
  border:1px solid #ff3d00;
  padding:4px 2px;
  width:16%;
  color:#ff3d00;
  margin-bottom:64px;
}
.hire .jobs {
  padding-bottom:32px;
  width:100%;
}
.hire .jobs .item {
  border:1px solid #eee;
  display:inline-block;
  padding:24px 12px;
}
.hire .jobs .item:hover {
  color:#fff;
  background-color:#ff3d00;
}
.hire .jobs .item:hover .line {
  border-top:1px solid #fff;
}
.hire .jobs .item:hover .hire {
  color:#fff;
}
.hire .jobs .item .hire {
  margin-top:8px;
}
.hire .jobs .item .line {
  margin-top:64px;
  width:30%;
  margin-left:35%;
  border-top:1px solid red;
}
.hire .jobs .item:nth-child(2) {
  margin-left:1%;
  margin-right:0.5%;
}
.hire .jobs .item:nth-child(3) {
  margin-left:0.5%;
  margin-right:1%;
}
.contect .content1 {
  position:relative;
}
.contect .content1 .word {
  position:absolute;
  bottom:0;
  left:12%;
  color:#fff;   
  background-color:#ff3d00;
  padding-left:20px;
  padding-top:12px;
  padding-right:196px;
  padding-bottom:12px;
}
.contect .content1 .word .sec {
  font-size:2rem;
  margin-top:12px;
}
.contect .howto {
  width:100%;
}
.contect .howto .left {
  width:50%;
  display:inline-block;
  padding-left:20%;
  text-align:left;
  color:#666;
}
.contect .howto .right {
  width:50%;
  display:inline-block;
}
.contect .howto .right img {
  width:20%;
}
.contect .problem {
  background-color:#eee;
  margin-top:24px;
  padding-left:20%;
  color:#666;
  padding-top:8px;
  padding-bottom:16px;
}
.contect .problem .submit {
  margin-top:12px;
  color:#fff;   
  background-color:#ff3d00;
  padding:2px;
  width:30%;
  max-width:128px;
  text-align:center;
  border-radius:6px;
  cursor:pointer;
}
.contect .problem input,
.contect .problem select,
.contect .problem textarea {
  border:1px solid #ddd !important;
  padding:2px !important;
  margin-top:8px;
  display:inline-block;
  width:40%;
  border-radius:4px;
  color:#333 !important;
  background-color:#fff !important;
}
.contect .problem textarea {
  width:50%;
}

.moreinfo {
  width:100%;
  background-color:#ff3d00;
  color:#fff;
  padding-top:24px;
  padding-bottom:24px;
}
.moreinfo .info {
  width:70%;
  text-align:center;
  font-size:2rem;
  display:inline-block;
}
.moreinfo .btn {
  display:inline-block;
  background-color:#3e4347;
  border-radius:6px;
  padding-top:6px;
  padding-bottom:6px;
  margin-right:20%;
  text-align:center;
  width:8%;
  float:right;
}
.divide3{
  width: 33.3%;
  display: inline-block;
}
.divide4{
  width: 25%;
  display: inline-block;
  float: left;
}
.divide5{
  width: 20%;
  display: inline-block;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.center2{
  margin-top: auto;
  margin-bottom: auto;
}
.floatright{
  float: right;
}
.floatleft{
  float: left;
  display: block;
}
.paddingbottom20{
  padding-bottom: 20px;
}
.headlist{
  display: block;
  border-radius: 50%;
  font-size: 2.7rem;
  border:2px solid;
  color: #FFFFFF;
}
.greybg{
  background-color: rgb(204,204,204);
}
.bgp1{
  width: 100%;
  height:621px;
  background:url(../img/bg1.png);
  background-size:cover;
  background-repeat:no-repeat;
}
.bgp2{
  width: 100%;
  background-image:-webkit-linear-gradient(left, #ff7f68, #fda75a);
  padding-top: 80px;
  padding-bottom: 20px;
}
.bgp3{
  width: 100%;
  background-color: #E3ECF1;
  padding-top: 35px;
  padding-bottom: 20px;
}
.bg4{
  width:100%;
  padding-bottom: 45px;
  background-image:-webkit-linear-gradient(left, #fda75a, #ff7f68);
  padding-top: 40px;

}
.bg5{
  background:url(../img/bgp5.png);
  background-size:cover;
  background-repeat:no-repeat;
  padding-top: 40px;
  padding-bottom: 30px;
}
.bg6
{
  width: 100%;
  padding-bottom: 130px;
  padding-top: 40px;

}
.bg7{
  background-color: #141414;
  padding-top: 40px;
  padding-bottom: 30px;
}
.picle1{
  padding-left: 50%;
  padding-top: 20%;
  color: #ffffff;
  font-size:36px;
}
.picle2{
  padding-left: 40%;
  color: #ffffff;
  font-size:36px;
}

.bg2con1{
  display:inline-block;
  margin-left: 14%;
}
.bg2pic1{
  margin-left: 10%;
  display:inline-block;
}
.bg2txt{
  margin-top: 1%;
  text-align: center;
  font-size: 26px;
  color: #FFFFFF;
  display: block;
}
.bg3txt{
  font-size: 26px;
  color: #FE5135;
  display:inline-block;
}
.bg3title{
  text-align: center;
  font-size: 2.2rem;
  color: #333333;
  padding-bottom: 36px;
}
.bg3title2{
  color: #FF8C47;
}
.bg4con1{
  padding:20px;
  display:block;
  background-color: #ffffff;
}
.bg4text{
  border-radius: 100px;
  background-color: #FFF;
  width: 20%;
  font-size: 26px;
  color: #FE5135;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.bg4txt1{
  color: #FE5135;
  font-size: 1.7rem;
  display: block;
  text-align: center;
}
.bg4txt2{
  font-size: 1.3rem;
  text-align: center;
  color: #FFFFFF;
}
.bg4con{
  margin-top: 80px;
  width: 50%;
  max-width: 160px;
  min-width: 65px;
  display: inline-block;
  text-align: center;

}
.bg4con2{
  background-color: rgb(243,127,100);
}
.bg5title{
  text-align: center;
  font-size: 2.5rem;
  color: #FFFFFF;

}
.bg5title2{
  color: #FF8C47;
}
.bg5line1{
  height: 2px;
  width: 50px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.bg5line2{
  height: 2px;
  width: 450px;
  background-color: #BEBAB6;
  margin-left: auto;
  margin-right: auto;
}
.bg5con{
  width: 80%;
  margin-top: 25px;
}
.bg5con1{
  padding-top: 24px;
  width: 15%;
  color: #FFFFFF;
  font-size: 2rem;
  background-color: rgba(230,230,230,0.6);
  display: inline-block;
}
.bg5con2{
  width: 5%;
  display: inline-block;
}
.bg5con3{
  width: 70%;
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 65px;
}
.bg5text{
  border-radius: 100px;
  background-color: #FFF;
  width: 20%;
  font-size: 2.2rem;
  color: #000000;
  display: block;
  text-align: center;
}
.bg5intro{
  padding-top: 30px;
  width: 80%;
  padding-bottom: 30px;
}
.bg5introcon{
  width: 30%;
  display: inline-block;
  background-color: rgba(8,8,8,0.8);
  padding: 10px;
}
.bg5introtxt{
  font-size: 1.5rem;
  color: #FFFFFF;
}
.bg5intropic{
  min-width: 0px;
  width: 24px;
}
.bg6title{
  text-align: center;
  font-size: 2.5rem;
  color: #333333;
}
.bg6title2{
  color: #FF8C47;
}
.bg6line1{
  height: 4px;
  width: 50px;
  background-color: #FF843D;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.bg6con1{
  height: 250px;
  width: 250px;
  padding: 20px;
  background-color: rgba(250,128,58,0.75);
}
.bg6pic{
  width: 393px;
  height: 600px;
}
.bg6con2{
  margin-top: 40px;
  margin-left: 45%;
  padding-bottom: 10px;
  border-bottom: 1px dashed #AAA;
}
.bg6txt2{
  color: #acacac;
  font-size: 1.3rem;
}
.bg7title{
  text-align: center;
  font-size: 2.2rem;
  color: #FD823B;
}
.bg7title2{
  color: #FFFFFF;
}
.footertxt{
  padding-left: 8%;
  text-align: center;
  display: inline-block;
  float: left;
  padding-top: 45px;
}

.doforyou{
  padding-top: 30px;
  padding-bottom: 10px;
  background-image:-webkit-linear-gradient(left bottom, #ff8361, #f9ac47);
}
.doforyoutitle{
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  display: block;
  padding-bottom: 10px;
}
.doforyouyj{
    margin: 20px;
    border: 2px solid #FFFFFF;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:15px;
    background-color: #FFFFFF;
}
.doforyouline{
  margin-top: 10px;
  height: 2px;
  background-color: #d5d7d7;
}
.doforyoutxt1{
  font-size: 3rem;
  color: #ff8361;
}
.doforyoutxt2{
  margin-top: 5px;
  font-size: 2rem;
  color: #ff8361;
}
.footercircle{
  border: 1px solid;
  border-radius: 50%;
  padding:  20px;
}
.guarantee{
  padding-top: 35px;
  text-align: center;
  padding-bottom: 50px;
}
.guaranteetitle{
  color: #555;
  font-size: 3rem;
  padding-bottom: 55px;
}
.guaranteepic{
  width: 80%;
}
.guaranteecon{
  width: 21.25%;
  display: inline-block;
  text-align: center;
  font-size: 1.7rem;
  color: #555;
}
.advantage{
  background:url(../img/advantage.png);
  background-size:cover;
  background-repeat:no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
}
.advantagetitle{
  color: #FFFFFF;
  font-size: 3rem;
  text-align: center;
}
.advantagesubtitle{
  color: #FFFFFF;
  font-size: 3rem;
  text-align: center;
  background-color: #15AFEF;
}
.advantagecon{
  margin-top: 20px;
  width: 80%;
}
.headpic{
  width: 100%;
  display: block;
}
.school{
  position: relative;
}
.schooltitle{
  color: #999;
  font-size: 3rem;
  width: 100%;
  position:absolute;
  top:40px;
  z-index:1;
}
.whattodo{
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: rgba(36,107,181,0.11);
}
.whattodotitle{
  text-align: center;
  color: rgba(21,175,239,0.67);
  font-size: 3rem;
  display: block;
  padding-bottom: 10px;
}
.superiority{
  padding-top: 20px;
  padding-bottom: 40px;
}
.superioritytitle{
  font-size: 2rem;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 20px;
}
.superioritytxt{
  display: inline-block;
  float: left;
  text-align: right;
}
.superioritytxt1{
  font-size: 2.7rem;
  text-align: right;
  display: block;
}
.superioritytxt2{
  font-size: 1.5rem;
  text-align: right;
}
.superioritypic{
  display: inline-block;
  float: left;
}
.computerjiange{
  padding-left: 20px;
  padding-right: 20px;
}
.computersceen{
  border: 1px solid;
  border-radius: 15px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  float: left;
  
}
.keyboard{
  height: 15px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: #999;
  float: left;
  display: block;
}
.superioritytxt3{
  font-size: 1.7rem;
  color: #ff8361;
  padding-top: 50px;
  padding-bottom: 30px;
}
.process{
  background:url(../img/process.png);
  background-size:cover;
  background-repeat:no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
}
.processtitle{
  font-size: 3rem;
  color: #FFFFFF;
}
.processsubtitle{
  font-size: 1.5rem;
  color: rgb(159,177,210);
  padding-bottom: 40px;
}
.processcon{
  width: 80%;
}
.processtxt1{
  display: block;
  font-size: 2.5rem;
  color: #FC4A3D;
  position:absolute;
  left:27px;
  top:252px;
  z-index:1;
}
.processtxt2{
  display: block;
  font-size: 1.5rem;
  color: #FFFFFF;
}
.processtxt3{
  display: block;
  font-size: 2.5rem;
  color: #2AE756;
  position:absolute;
  top:252px;
  z-index:1;
}
.processtxt4{
  display: block;
  font-size: 2.5rem;
  color: #E2C744;
  position:absolute;
  top:252px;
  z-index:1;
}
.processtxt5{
  display: block;
  font-size: 2.5rem;
  color: #20E3FF;
  position:absolute;
  left:43px;
  top:252px;
  z-index:1;
}
.processtxt6{
  display: block;
  font-size: 2.5rem;
  color: #FF9751;
  position:absolute;
  top:252px;
  z-index:1;
}
.formloca{
  padding-left: 44%;
  padding-top: 60px;
}
.formbg{
  padding: 16px;
  background-color: rgba(230,230,230,0.6);
  display: inline-block;
}
.formbtn{
  width: 100px;
}
.block {
  display:block !important;
}
.bigtitle {
  margin-top:24px;
  font-size:2rem;
}
.std-width {
  width:95%;
}
.photo-width-sm {
  width:15%;
}
.photo-width-mi {
  width:30%;
}
.photo-width-lg {
  width:60%;
}
.full-width {
  width:100%;
}
.mt {
  margin-top:24px;
}
.ml {
  margin-left:5%;
}
.center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.clear {
  clear:both;
}
.small {
  font-size:1rem;
}
.big {
  font-size:1.6rem;
}
.huge {
  padding-top:24px;
  font-size:2.8rem;
  display:block;
}
.red {
  color:#ff3d00;
}
.gray {
  color:#aaa;
}
.darkgray {
  color:#777;
}

.hidden {
  display:none;
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
@-webkit-keyframes flash {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes flash {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  50% {
    opacity: 1
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  50% {
    opacity: 1
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash
}
.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.clear{
	clear: both;
}
.header{
	padding-top: 30px;
	position: relative;
}
.headerpic{
	display: inline-block;
	padding-left: 60px;
}
.headerbtn{
	display: inline-block;
	position: absolute;
	top:80px;
	padding-left: 145px;
	font-size: 2.5rem;
}
.bigpic{
	padding-top: 10px;
	width: 100%;
	position: relative;
}
.bigpiccon{
	padding: 70px;
	color: #FFFFFF;
	font-size: 3rem;
	display: block;
	background-color: rgba(248,110,70,0.8);
	width: 30%;
	position: absolute;
	top: 130px;
	left: 200px;
}
.location{
	padding-top: 30px;
	padding-bottom: 60px;
}
.locationdetail{
	width: 100%;
	position: relative;
	padding-top: 50px;
}
.locationpin{
	position: absolute;
	top: 235px;
	left: 42%;
	display: block;
}
.locationtxt{
	font-size: 3rem;
	color: #000000;
	display: block;
	padding-top: 70px;
}
.locationtxt2{
	font-size: 1.5rem;
	display: block;
}
.children{
	position: relative;
}
.childrentitle{
	color: #FFFFFF;
	font-size: 3rem;
	position: absolute;
	left:37%;
	top:70px;
}
.footer {
  clear:both;
  background-color:#3e4347;
  color:#fff;
  padding-bottom:15px;
  width:100%;
  padding-left:6%;
  padding-right:6%;
}
.footer .list {
  margin-top:24px;
  float:left;
  margin-right:6%;
}
.footer .list .head {
  font-size:2rem;
  padding-bottom:24px;
}
.footer .list .word {
  font-size:1.4rem;
  padding-bottom:8px;
  display:block;
  color:#fff;
}
.footer .qrcode {
  margin-top:24px;
  margin-left:6%;
  width:128px;
  display:inline-block;
  float: left;
}
.full-width {
  width:100%;
}
.small {
  font-size:1rem;
}
.mt {
  margin-top:24px;
}
.footertxt{
  padding-left: 8%;
  text-align: center;
  display: inline-block;
  float: left;
  padding-top: 45px;
}
.footercircle{
  border: 1px solid;
  border-radius: 50%;
  padding:  20px;
}
.headtitle{
	color: red;
	-webkit-mask-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff0000), to(rgba(0, 0, 255, 0)));
	font-size: 3rem;
	padding-top: 60px;
	padding-bottom: 60px;
}
.apartment{
	width: 100%;
	background:url(../img/apartment.png);
  	background-size:cover;
  	background-repeat:no-repeat;
  	padding-top: 40px;
  	padding-bottom: 40px;
}
.apartmenttitle{
	margin-top: 40px;
	width: 25%;
	color: rgb(255,60,1);
	background-color: #FFFFFF;
	font-size: 3rem;
}
.dream{
	padding-top: 40px;
	padding-bottom: 80px;
}
.dreamtxt1{
	padding-top: 40px;
	color: rgb(255,60,1);
	font-size: 3rem;
}
.dreamtxt2{
	color: rgb(79,77,75);
	font-size: 2.5rem;
}
.comehere{
	width: 100%;
	background:url(../img/comehere.png);
  	background-size:cover;
  	background-repeat:no-repeat;
  	padding-top: 50px;
  	padding-bottom: 50px;
}
.comeheretxt{
	padding: 20px;
	font-size: 3rem;
	background-color: rgb(255,61,0);
	display: block;
	color: #FFFFFF;
	width: 60%;
}
.team{
	background-color: #000000;
	width: 100%;
	padding-top: 10px;
}
@media screen and (max-device-width: 700px) {
  .std-width {
    width:96%;
  }
  .ml {
    margin-left:2%;
  }
  .title .tip {
    display:none;
  }
  .header {
    padding-top:2%;
    padding-bottom:2%;
  }
  .header .logo, 
  .header .items {
    float:none;
  }
  .header .logo {
    width:82%;
    height:inherit;
  } 
  .header .items {
    padding-top:2%;
    padding-bottom:2%;
  }
  .header .items .home {
    margin-right:2%;
  }
  .footer .qrcode {
    margin-left: 50%;
    width: 128px;
    position: relative;
    left: -64px;
  }
  .home .icons .icon {
    display:block;
    width:100%;
    margin:0;
  }
  .home .info .left,
  .home .info .right {
    width:100%;
  }
  .parent .lf {
    width:92%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .parent .ri {
    margin-top:32px;
    width:92%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .parent .types .item {
    width:32%;
  }
  .parent .protect .backimg {
    min-height:100px;
  }
  .parent .protect .word {
    font-size:1rem !important;
    padding-top:12px;
  }
  .parent .protect .picimgs .pics img {
    display:none;
  }
  .parent .adv .item {
    width:100%;
    display:block;
  }
  .moreinfo .info {
    width:92%;
    margin-left:4%;
    margin-right:4%;
    margin-bottom:16px;
    font-size:1.6rem;
  }
  .moreinfo .btn {
    width:36%;
    margin-left:32%;
    margin-right:32%;
  }
  .teacher .advs .item {
    width:50%;
  }
  .teacher .steps {
    width:100%;
    margin:0;
  }
  .teacher .step {
    width:49%;
  }
  .teacher .step .info {
    height:48px;
  }
  .hire .morejob {
    width:80%;
    margin-left:10%;
  }
  .hire .jobs .item {
    width:50%;
    box-sizing:border-box;
    margin:0 !important;
  }
  .contect .content1 .word {
    position:initial;
    color:#fff;   
    background-color:#ff3d00;
    width:100%;
    padding-left:6px;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:0px;
  }
  .contect .howto .left,
  .contect .howto .right {
    width:100%;
    padding-left:4%;
    padding-right:4%;
  }
  .contect .howto .right {
    margin-top:12px;
  }
  .contect .problem {
    width:100%;
    padding-left:4%;
    padding-right:4%;
  }
  .contect .problem input,
  .contect .problem select,
  .contect .problem textarea {
    width:100%;
  }
  .contect .problem .submit {
    width:30%;
    margin-left:auto;
    margin-right:auto;
  }
  .photo-width-sm {
    width:100%;
  }
  .photo-width-mi {
    width:100%;
  }
  .photo-width-lg {
    width:98%;
  }
  .divide3{
    width: 33.3%;
    display: inline-block;
  }
  .divide4{
    width: 25%;
    display: inline-block;
    float: left;
  }
  .divide5{
    width: 20%;
    display: inline-block;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  }
  .center2{
    margin-top: auto;
    margin-bottom: auto;
  }
  .floatright{
    float: right;
  }
  .floatleft{
    float: left;
    display: block;
  }
  .paddingbottom20{
    padding-bottom: 20px;
  }
  .bgp1{
    width: 100%;
    height:621px;
    background:url(../img/bg1.png);
    background-size:cover;
    background-repeat:no-repeat;
  }
  .bgp2{
    width: 100%;
    background-image:-webkit-linear-gradient(left, #ff7f68, #fda75a);
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .bgp3{
    width: 100%;
    background-color: #E3ECF1;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .bg4{
    width:100%;
    padding-bottom: 20px;
    background-image:-webkit-linear-gradient(left, #fda75a, #ff7f68);
    padding-top: 40px;

  }
  .bg5{
    background:url(../img/bgp5.png);
    background-size:cover;
    background-repeat:no-repeat;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .bg6
  {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 130px;
  }
  .bg7{
    background-color: #141414;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .picle1{
    padding-left: 7%;
    padding-top: 35%;
    color: #ffffff;
    font-size:2rem;
  }
  .picle2{
    padding-left: 7%;
    color: #ffffff;
    font-size:2rem;
    padding-top: 19px;
    width: 60%;
  }

  .bg2con1{
    display:inline-block;
    margin-left: 14%;
  }
  .bg2pic1{
    margin-left: 10%;
    display:inline-block;
  }
  .bg2txt{
    margin-top: 1%;
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
    display: block;
  }
  .bg3txt{
    font-size: 2.4rem;
    color: #FE5135;
    display:inline-block;
  }
  .bg3title{
    text-align: center;
    font-size: 2.2rem;
    color: #333333;
    padding-bottom: 36px;
  }
  .bg3title2{
    color: #FF8C47;
  }
  .bg4con1{
    padding:20px;
    display:block;
    background-color: #ffffff;
  }
  .bg4text{
    border-radius: 100px;
    background-color: #FFF;
    width: 45%;
    font-size:2rem;
    color: #FE5135;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .bg4txt1{
    color: #FE5135;
    font-size: 1.7rem;
    display: block;
    text-align: center;
  }
  .bg4txt2{
    font-size: 1.3rem;
    text-align: center;
    color: #FFFFFF;
  }
  .bg4con{
    margin-top: 3px;
    width: 50%;
    max-width: 160px;
    min-width: 90px;
    display: inline-block;
    text-align: center;

  }
  .bg4con2{
    background-color: rgb(243,127,100);
  }
  .bg5title{
    text-align: center;
    font-size: 2.5rem;
    color: #FFFFFF;

  }
  .bg5title2{
    color: #FF8C47;
  }
  .bg5line1{
    height: 2px;
    width: 50px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .bg5line2{
    height: 2px;
    width: 100%;
    background-color: #BEBAB6;
    margin-left: auto;
    margin-right: auto;
  }
  .bg5con{
    width: 100%;
    margin-top: 25px;
  }
  .bg5con1{
    padding-top: 24px;
    width: 14%;
    color: #FFFFFF;
    font-size: 2rem;
    background-color: rgba(230,230,230,0.6);
    display: inline-block;
  }
  .bg5con2{
    width: 5%;
    display: inline-block;
  }
  .bg5con3{
    width: 82%;
    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 37px;
    padding-top: 15px;
  }
  .bg5text{
    border-radius: 100px;
    background-color: #FFF;
    width: 55%;
    font-size: 2.2rem;
    color: #000000;
    display: block;
    text-align: center;
    margin-top: 12px;
  }
  .bg6title{
    text-align: center;
    font-size: 2.5rem;
    color: #333333;
  }
  .bg6title2{
    color: #FF8C47;
  }
  .bg6line1{
    height: 4px;
    width: 50px;
    background-color: #FF843D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .bg6con1{
    height: 250px;
    width: 250px;
    padding: 20px;
    background-color: rgba(250,128,58,0.75);
  }
  .bg6pic{
    width: 393px;
    height: 600px;
  }
  .bg6con2{
    margin-top: 52px;
    margin-left: 45%;
    padding-bottom: 10px;
    border-bottom: 1px dashed #AAA;
  }
  .bg6txt2{
    color: #acacac;
    font-size: 1.3rem;
  }
  .bg7title{
    text-align: center;
    font-size: 2.2rem;
    color: #FD823B;
  }
  .bg7title2{
    color: #FFFFFF;
  }
  .footertxt{
    padding-left: 28%;
    text-align: center;
    display: inline-block;
    float: left;
    padding-top: 45px;
  }

  .doforyou{
    padding-top: 30px;
    padding-bottom: 10px;
    background-image:-webkit-linear-gradient(left bottom, #ff8361, #f9ac47);
  }
  .doforyoutitle{
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    display: block;
    padding-bottom: 10px;
  }
  .doforyouyj{
      margin: 20px;
      border: 2px solid #FFFFFF;
      -moz-border-radius: 15px; 
      -webkit-border-radius: 15px; 
      border-radius:15px;
      background-color: #FFFFFF;
  }
  .doforyouline{
    margin-top: 10px;
    height: 2px;
    background-color: #d5d7d7;
  }
  .doforyoutxt1{
    font-size: 3rem;
    color: #ff8361;
  }
  .doforyoutxt2{
    margin-top: 5px;
    font-size: 1.5rem;
    color: #ff8361;
  }
  .footercircle{
    border: 1px solid;
    border-radius: 50%;
    padding:  20px;
  }
  .guarantee{
    padding-top: 35px;
    text-align: center;
    padding-bottom: 50px;
  }
  .guaranteetitle{
    color: #555;
    font-size: 3rem;
    padding-bottom: 10px;
  }
  .guaranteepic{
    width: 100%;
  }
  .guaranteecon{
    width: 21.25%;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    color: #555;
  }
  .advantage{
    background:url(../img/advantage.png);
    background-size:cover;
    background-repeat:no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .advantagetitle{
    color: #FFFFFF;
    font-size: 2.5rem;
    text-align: center;
  }
  .advantagesubtitle{
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
    background-color: #15AFEF;
  }
  .advantagecon{
    margin-top: 20px;
    width: 95%;
  }
  .headpic{
    width: 100%;
    display: block;
  }
  .schooltitle{
    color: #999;
    font-size: 1.5rem;
    width: 100%;
  }
  .whattodo{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: rgba(36,107,181,0.11);
  }
  .whattodotitle{
    text-align: center;
    color: rgba(21,175,239,0.67);
    font-size: 3rem;
    display: block;
    padding-bottom: 10px;
  }
  .superiority{
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .superioritytitle{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 20px;
  }
  .superioritytxt{
    display: inline-block;
    float: left;
    text-align: right;
  }
  .superioritytxt1{
    font-size: 2.7rem;
    text-align: right;
    display: block;
  }
  .superioritytxt2{
    font-size: 1.5rem;
    text-align: right;
  }
  .superioritypic{
    display: inline-block;
    float: left;
  }
  .computerjiange{
    padding-left: 20px;
    padding-right: 20px;
  }
  .computersceen{
    border: 1px solid;
    border-radius: 15px;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    float: left;
    
  }
  .keyboard{
    height: 15px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: #999;
    float: left;
    display: block;
  }
  .superioritytxt3{
    font-size: 1.7rem;
    color: #ff8361;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .process{
    background:url(../img/process.png);
    background-size:cover;
    background-repeat:no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .processtitle{
    font-size: 3rem;
    color: #FFFFFF;
  }
  .processsubtitle{
    font-size: 1.5rem;
    color: rgb(159,177,210);
    padding-bottom: 40px;
  }
  .processcon{
    width: 100%;
  }
  .processtxt1{
    display: block;
    font-size: 1.5rem;
    color: #FC4A3D;
    position:absolute;
    left:8px;
    top:97px;
    z-index:1;
  }
  .processtxt2{
    display: none;
  }
  .processtxt3{
    display: block;
    font-size: 1.5rem;
    color: #2AE756;
    position:absolute;
    top:97px;
    left: 9px;
    z-index:1;
  }
  .processtxt4{
    display: block;
    font-size: 1.5rem;
    color: #E2C744;
    position:absolute;
    top:97px;
    left: 8px;
    z-index:1;
  }
  .processtxt5{
    display: block;
    font-size: 1.5rem;
    color: #20E3FF;
    position:absolute;
    left:8px;
    top:97px;
    z-index:1;
  }
  .processtxt6{
    display: block;
    font-size: 1.5rem;
    color: #FF9751;
    position:absolute;
    top:97px;
    left: 8px;
    z-index:1;
  }
  .formloca{
    padding-left: 5%;
    padding-top: 47px;
  }
.center{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.clear{
		clear: both;
	}
	.header{
		padding-top: 10px;
		position: relative;
	}
	.headerpic{
		padding-left: 3px;
		padding-bottom: 60px;
	}
	.headerbtn{
		display: inline-block;
		position: absolute;
		top:100px;
		padding-left: 0px;
		font-size: 1.7rem;
	}
	.bigpic{
		padding-top: 10px;
		width: 100%;
		position: relative;
	}
	.bigpiccon{
		padding: 15px;
		color: #FFFFFF;
		font-size: 1.7rem;
		display: block;
		background-color: rgba(248,110,70,0.8);
		width: 40%;
		position: absolute;
		top: 50px;
		left: 10%;
	}
	.location{
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.locationdetail{
		width: 100%;
		position: relative;
		padding-top: 50px;
	}
	.locationpin{
		position: absolute;
		top: 36px;
		left: 20%;
		display: block;
	}
	.locationtxt{
		font-size: 3rem;
		color: #000000;
		display: block;
		padding-top: 70px;
	}
	.locationtxt2{
		font-size: 1.5rem;
		display: block;
	}
	.children{
		position: relative;
	}
	.childrentitle{
		color: #FFFFFF;
		font-size: 2rem;
		position: absolute;
		left:20%;
		top:20px;
	}
	.footer {
	  clear:both;
	  background-color:#3e4347;
	  color:#fff;
	  padding-bottom:15px;
	  width:100%;
	  padding-left:6%;
	  padding-right:6%;
	}
	.footer .list {
	  margin-top:24px;
	  float:left;
	  margin-right:6%;
	}
	.footer .list .head {
	  font-size:2rem;
	  padding-bottom:24px;
	}
	.footer .list .word {
	  font-size:1.4rem;
	  padding-bottom:8px;
	  display:block;
	  color:#fff;
	}
	.footer .qrcode {
	  margin-top:24px;
	  margin-left:6%;
	  width:128px;
	  display:inline-block;
	  float: left;
	}
	.full-width {
	  width:100%;
	}
	.small {
	  font-size:1rem;
	}
	.mt {
	  margin-top:24px;
	}
	.footertxt{
	  padding-left: 8%;
	  text-align: center;
	  display: inline-block;
	  float: left;
	  padding-top: 45px;
	}
	.footercircle{
	  border: 1px solid;
	  border-radius: 50%;
	  padding:  20px;
	}
	.headtitle{
		color: red;
		-webkit-mask-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff0000), to(rgba(0, 0, 255, 0)));
		font-size: 2rem;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.apartment{
		width: 100%;
		background:url(../img/apartment.png);
	  	background-size:cover;
	  	background-repeat:no-repeat;
	  	padding-top: 40px;
	  	padding-bottom: 40px;
	}
	.apartmenttitle{
		margin-top: 40px;
		width: 80%;
		color: rgb(255,60,1);
		background-color: #FFFFFF;
		font-size: 3rem;
	}
	.dream{
		padding-top: 40px;
		padding-bottom: 80px;
	}
	.dreamtxt1{
		padding-top: 40px;
		color: rgb(255,60,1);
		font-size: 2.5rem;
	}
	.dreamtxt2{
		color: rgb(79,77,75);
		font-size: 1.5rem;
	}
	.comehere{
		width: 100%;
		background:url(../img/comehere.png);
	  	background-size:cover;
	  	background-repeat:no-repeat;
	  	padding-top: 50px;
	  	padding-bottom: 50px;
	}
	.comeheretxt{
		padding: 20px;
		font-size: 2rem;
		background-color: rgb(255,61,0);
		display: block;
		color: #FFFFFF;
		width: 70%;
	}
	.team{
		background-color: #000000;
		width: 100%;
		padding-top: 10px;
	}
}
